.version.cond /* version checker */
{
	color: #0000F0;
	background-color: #5E4A66;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 724px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u461
{
	z-index: 25;
	height: 62px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.2),0px 0px 5px rgba(127,127,127,0.2);
	background-color: #F6F6F6;
	background-color: rgba(246,246,246,0.97);
	-pie-background: rgba(246,246,246,0.97);
}

#u461-bw
{
	z-index: 25;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#menuu1615
{
	z-index: 40;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 15px;
	left: 0px;
}

#u1616
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1620-4
{
	width: 190px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u1619:hover #u1620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1619:hover #u1620-4 p
{
	font-weight: bold;
}

#u1623
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u1619,#u1624
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u1624.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u1626-4
{
	width: 190px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u1619.MuseMenuActive #u1620-4,#u1624:hover #u1626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1619.MuseMenuActive #u1620-4 p,#u1624:hover #u1626-4 p
{
	font-weight: bold;
}

#u1644
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u1645
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u1648-4
{
	width: 190px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u1624.MuseMenuActive #u1626-4,#u1645:hover #u1648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1645.MuseMenuActive #u1648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u1624.MuseMenuActive #u1626-4 p,#u1645:hover #u1648-4 p
{
	font-weight: bold;
}

#u1630
{
	width: 191px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u1635-4
{
	width: 191px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u1633:hover #u1635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u1645.MuseMenuActive #u1648-4 p,#u1633:hover #u1635-4 p
{
	font-weight: bold;
}

#u1637
{
	width: 191px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u1633,#u1638
{
	width: 191px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u1641-4
{
	width: 191px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u1633.MuseMenuActive #u1635-4,#u1638:hover #u1641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u1638.MuseMenuActive #u1641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u1633.MuseMenuActive #u1635-4 p,#u1638:hover #u1641-4 p
{
	font-weight: bold;
}

#u1638.MuseMenuActive #u1641-4 p
{
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#ppu459-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 137px;
	margin-left: 77px;
}

#pu459-4
{
	width: 0.01px;
}

#u459-4
{
	z-index: 15;
	width: 141px;
	min-height: 46px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u475-4
{
	z-index: 21;
	width: 96px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 232px;
}

#u460
{
	z-index: 19;
	width: 330px;
	height: 5px;
	background-color: #003AB6;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u458-10
{
	z-index: 5;
	width: 330px;
	min-height: 421px;
	background-color: transparent;
	text-align: justify;
	font-size: 18px;
	line-height: 32px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 17px;
	position: relative;
}

#u470
{
	z-index: 20;
	width: 330px;
	height: 5px;
	background-color: #003AB6;
	margin-top: 9px;
	position: relative;
}

#u449
{
	z-index: 2;
	width: 403px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(127,127,127,0.5),0px 0px 4px rgba(127,127,127,0.5);
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 506px;
}

#u449 .clip_frame
{
	-webkit-border-radius: 3px 3px 3px 3px;
}

#pu455
{
	width: 0.01px;
	margin: 724px -10000px -132px -100px;
}

#u455
{
	z-index: 4;
	min-height: 132px;
	background-color: #686868;
}

#u455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u455_position_content
{
	padding-bottom: 16px;
}

#u1590
{
	z-index: 34;
	width: 324px;
	height: 20px;
	left: 120px;
	position: relative;
}

.ie #u1590
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1588-4
{
	z-index: 26;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	left: 120px;
	position: relative;
}

#u1591-5
{
	z-index: 35;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	left: 120px;
	margin-top: 42px;
	position: relative;
}

#u1591
{
	text-decoration: none;
	color: #FFFFFF;
}

#u455-bw
{
	z-index: 4;
	min-height: 132px;
}

#u1589-4
{
	z-index: 30;
	width: 847px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -723px;
}

