.version.piano /* version checker */
{
	color: #000017;
	background-color: #B4ED46;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 615px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u476
{
	z-index: 47;
	height: 62px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(127,127,127,0.2),0px 0px 5px rgba(127,127,127,0.2);
	background-color: #F6F6F6;
	background-color: rgba(246,246,246,0.97);
	-pie-background: rgba(246,246,246,0.97);
}

#u476-bw
{
	z-index: 47;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#menuu477
{
	z-index: 48;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 15px;
	left: 0px;
}

#u492
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u494-4
{
	width: 190px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u493:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u493:hover #u494-4 p
{
	font-weight: bold;
}

#u499
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u502-4
{
	width: 190px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u493.MuseMenuActive #u494-4,#u500:hover #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u493.MuseMenuActive #u494-4 p,#u500:hover #u502-4 p
{
	font-weight: bold;
}

#u506
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u493,#u500,#u507
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u507.MuseMenuActive
{
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u509-4
{
	width: 190px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 0px;
}

#u500.MuseMenuActive #u502-4,#u507:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u507.MuseMenuActive #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u500.MuseMenuActive #u502-4 p,#u507:hover #u509-4 p
{
	font-weight: bold;
}

#u478
{
	width: 191px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u481-4
{
	width: 191px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u479:hover #u481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u507.MuseMenuActive #u509-4 p,#u479:hover #u481-4 p
{
	font-weight: bold;
}

#u513
{
	width: 191px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u479,#u516
{
	width: 191px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u519-4
{
	width: 191px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #9E005D;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u479.MuseMenuActive #u481-4,#u516:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u516.MuseMenuActive #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u479.MuseMenuActive #u481-4 p,#u516:hover #u519-4 p
{
	font-weight: bold;
}

#u516.MuseMenuActive #u519-4 p
{
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#ppu527-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 97px;
	margin-left: 45px;
}

#pu527-4
{
	width: 0.01px;
}

#u527-4
{
	z-index: 14;
	width: 141px;
	min-height: 46px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u529-4
{
	z-index: 19;
	width: 96px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 232px;
}

#u528
{
	z-index: 18;
	width: 330px;
	height: 5px;
	background-color: #39B54A;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu526-10
{
	width: 0.01px;
	margin-top: 17px;
}

#u526-10
{
	z-index: 4;
	width: 299px;
	min-height: 421px;
	background-color: transparent;
	text-align: justify;
	font-size: 18px;
	line-height: 32px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u543
{
	z-index: 45;
	width: 330px;
	height: 5px;
	background-color: #39B54A;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 4px;
}

#u533
{
	z-index: 24;
	width: 318px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	background-color: transparent;
	border-radius: 3px;
	margin-left: 55px;
	margin-top: 46px;
	position: relative;
}

#pu520
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 132px;
	margin-left: 418px;
}

#u520
{
	z-index: 2;
	width: 507px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 3px rgba(127,127,127,0.5),0px 0px 3px rgba(127,127,127,0.5);
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u533 .clip_frame,#u520 .clip_frame
{
	-webkit-border-radius: 3px 3px 3px 3px;
}

#pu540-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 106px;
}

#u540-4
{
	z-index: 36;
	width: 141px;
	min-height: 46px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u542-4
{
	z-index: 41;
	width: 96px;
	min-height: 23px;
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 232px;
}

#u541
{
	z-index: 40;
	width: 330px;
	height: 5px;
	background-color: #FCEE21;
	margin-left: 78px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu539-10
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 16px;
}

#u539-10
{
	z-index: 26;
	width: 335px;
	min-height: 421px;
	background-color: transparent;
	text-align: justify;
	font-size: 18px;
	line-height: 32px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u545
{
	z-index: 46;
	width: 330px;
	height: 5px;
	background-color: #FCEE21;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
}

#pu530
{
	width: 0.01px;
	margin: 1131px -10000px -131px -100px;
}

#u530
{
	z-index: 23;
	min-height: 132px;
	background-color: #686868;
}

#u530_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u530_position_content
{
	padding-bottom: 16px;
}

#u1586
{
	z-index: 87;
	width: 324px;
	height: 20px;
	left: 120px;
	position: relative;
}

.ie #u1586
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1584-4
{
	z-index: 79;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	left: 120px;
	position: relative;
}

#u1587-5
{
	z-index: 88;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	left: 120px;
	margin-top: 42px;
	position: relative;
}

#u1587
{
	text-decoration: none;
	color: #FFFFFF;
}

#u530-bw
{
	z-index: 23;
	min-height: 132px;
}

#u1585-4
{
	z-index: 83;
	width: 847px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 120px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1131px;
}

